/*
#1A1A1D - Black/Gray
#4e4e50 - Gray
#6G2232 - Matte Red
#950740 - Wine Red
#C3073F - Blood Red
*/


html {
  height: 100%;
}
body 
{
  min-height: 100%;
  background: rgb(255,255,255);
background: linear-gradient(49deg, rgba(255,255,255,1) 0%, rgba(142,142,142,1) 48%, rgba(0,212,255,1) 100%);
}
div.firstPhoto
{
  width: 100%;
  height: 50%;
  border-bottom: 5px solid rgb(0, 0, 0);
  background: url('../assets/images/mountain_background.jpg') center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/images/mountain_background.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/images/mountain_background.jpg', sizingMethod='scale');
}

/*
html
{
  background-color: #A40000;
}
*/

body.widthControl
{
  margin: auto;
  background-color: rgb(0,0,0,0);
  overflow: auto;
}


.defaultView
{
  background: rgb(26, 26, 29, 0.0); 
  color: #ffffff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-family: Tahoma, Geneva, sans-serif;
}


div.mainViewDiv
{
  background: rgb(26, 26, 29, 0.5); 
  color: #ffffff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 120%;
}


.topTabs:hover, .topTabs:visited, .topTabs:link, .topTabs:active
{
font-family: Impact, Charcoal, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: normal;
color: #ffffff ;
text-decoration: none solid rgb(68, 68, 68) !important;
font-style: normal;
font-variant: normal;
text-transform: none;
padding: 15px;
padding-top: 30px;
}

.topTabs:hover
{
  color: #C3073F ;
}

.tabSurround {
  border: 5px groove #A40000;
  padding: 2px;
  /*border-radius: 30px;*/
}

.tabSection
{
  background: #4e4e50;
  height: 60px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.pageEnd
{
  background: #4e4e50;
  width: 100%;
  height: 60px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

md-card {
  background-color: #4e4e50; 
  color: #ffffff;
  border-radius: 30px;
  width: 100%;
  box-shadow: 0pc;
  opacity: 0.5;
}

.cardListCurve
{
  border-radius: 30px !important;
}

.cardImg
{
  border-radius: 30px;
}

md-card-title
{
  padding: 20px;
}

md-card:hover
{
  background-color: #C3073F ;
  opacity: 1;
}

.clickCard .md-button {
  padding: 0 !important;
}
.clickCard md-card {
  margin: 1px;
}

.customSubHead
{
    color: #C3073F !important;
    text-shadow: #1A1A1D;
}

.pageTitle
{
  text-align: center;
  margin-block-start: 0px;
}

.navigationDiv
{
  text-align: right;
  width: 100%;
  background-color: rgb(26, 26, 29, 0.5);
}

.bodyDiv
{
  padding-bottom: 30px;
  text-align: center;
}


.homeMainPoints
{
  padding: 10px;
}

img.shinyPoke
{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-box {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: transparent;
}

/* Style the back side */
.flip-box-back {
  background-color: transparent;
  transform: rotateY(180deg);
}

.item1 { 
  grid-area: header; 
}
.item2 { 
  grid-area: menu;
  height: 150px;
  width: 375px;
 }
.item3 { 
  grid-area: main;
  height: 150px;
  width: 375px;
}
.item4 { 
  grid-area: right;
  height: 150px;
  width: 375px;
}
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu main right'
    'menu footer footer';
  grid-gap: 10px;
  background-color: rgb(185, 0, 0);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
  /*
  Copyright 2018 Google LLC. All Rights Reserved. 
  Use of this source code is governed by an MIT-style license that can be found
  in the LICENSE file at http://material.angularjs.org/HEAD/license.
  */