.buttondemoBasicUsage section {
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }


.topTabs:hover, .topTabs:visited, .topTabs:link, .topTabs:active
{
font-family: Impact, Charcoal, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: normal;
color: #000000 ;
text-decoration: none solid rgb(68, 68, 68) !important;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.topTabs:hover
{
  color: #ff0000 ;
}

.tabSurround {
  border: 5px groove #A40000;
  padding: 2px;
  border-radius: 30px;
}
  
  /*
  Copyright 2018 Google LLC. All Rights Reserved. 
  Use of this source code is governed by an MIT-style license that can be found
  in the LICENSE file at http://material.angularjs.org/HEAD/license.
  */