/*
#1A1A1D - Black/Gray
#4e4e50 - Gray
#6G2232 - Matte Red
#950740 - Wine Red
#C3073F - Blood Red
*/


body.widthControl
{
  max-width: 80%;
  margin: auto;
  padding: 15px;
}


.defaultView
{
  background: #1A1A1D; 
  color: #ffffff;
  font-family: Tahoma, Geneva, sans-serif;
}





.topTabs:hover, .topTabs:visited, .topTabs:link, .topTabs:active
{
font-family: Impact, Charcoal, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: normal;
color: #ffffff ;
text-decoration: none solid rgb(68, 68, 68) !important;
font-style: normal;
font-variant: normal;
text-transform: none;
padding-left: 10px;
padding-right: 10px;
}

.topTabs:hover
{
  color: #C3073F ;
}

.tabSurround {
  border: 5px groove #A40000;
  padding: 2px;
  /*border-radius: 30px;*/
}

.tabSection
{
  background: #4e4e50;
  width: 100%;
}

md-card {
  background-color: rgb(255,255,255);
  background-color: #4e4e50; 
  color: #ffffff;
  border-radius: 30px;
  width: 100%;
}

.cardListCurve
{
  border-radius: 30px !important;
}

.cardImg
{
  border-radius: 30px;
}

md-card-title
{
  padding: 20px;
}

md-card:hover
{
  background-color: #C3073F ;
}

.clickCard .md-button {
  padding: 0 !important;
}
.clickCard md-card {
  margin: 1px;
}

.customSubHead
{
    color: #C3073F !important;
    text-shadow: #1A1A1D;
}

.pageTitle
{
  text-align: center;
}

  /*
  Copyright 2018 Google LLC. All Rights Reserved. 
  Use of this source code is governed by an MIT-style license that can be found
  in the LICENSE file at http://material.angularjs.org/HEAD/license.
  */