<h1 class="pageTitle">Hi My Name is Matt Ohren!</h1>
<h2></h1>
<h3>This is my personal website, feel free to check out you find interesting</h3>
<p>The site is currently a work in progress. (Created 5/15/2019)</p>

    <p class="homeMainPoints">Github Repository: <a href="https://github.com/MadMatthewO/ohren_labs">ohren_labs</a></p>
    <p class="homeMainPoints">Current Languages and Frameworks: HTML, CSS, JavaScript(AngularJS), and PHP 7.2</p>
    <p class="homeMainPoints">Current work: Creating a CSS stylesheet to better display information on the website</p>
    <p class="homeMainPoints">Plan to impelment an SQL database for signing into fitness tracking view on my website (TBD)</p>
