<h1 class="pageTitle">Welcome to Apples & Ohrens</h1>
<h2>My Name is Matt Ohren!</h2>
<h3>This is my personal website, feel free to check out you find interesting</h3>
<h4>Currently setting up a sub-domain to host a Dev branch of my website and avoid pushing bugged code to the master branch</h4>
<p>The site is currently a work in progress. (Created 5/15/2019)</p>

    <p class="homeMainPoints">Github Repository: <a href="https://github.com/MadMatthewO/ohren_labs">ohren_labs</a></p>
    <p class="homeMainPoints">Current Languages and Frameworks: HTML, CSS, JavaScript(AngularJS), and PHP 7.2</p>
    <p class="homeMainPoints">Need to modify a CSS stylesheet to better display information and photos on the website</p>
    <p class="homeMainPoints">Plan to impelment an SQL database for posting website updates with an account</p>
    <p class="homeMainPoints">Database will also store Work History and School History</p>
    <p class="homeMainPoints">Also want to better utilize AngularJS with fun little views like a derivative calculator</p>
