<input ng-model="pokeName">
<button ng-click="getRequest()">Search For Pokemon</button>
<br />

<div class="flip-box" ng-show="testVariable">
    <div class="flip-box-inner">
        <div class="flip-box-front">
            <img class="cardImg" src="{{testVariable}}" alt="Missing Image"/>
        </div>
        <div class="flip-box-back">
            <img class="cardImg shinyPoke" src="{{shinyPath}}" alt="Missing Image"/>
        </div>
    </div>
</div>
  <br />
  <br />
  <br />
  <br />
  <p>*Made with <a href="https://pokeapi.co/">Pok&#233API</a></p>
