<h1 class="pageTitle">School History</h1>

    <md-card md-theme="" md-theme-watch="">
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline">Bachelor of Science, Computer Science | University of North Dakota</span>
            <span class="md-subhead">SEPTEMBER 2015 – MAY 2019</span>
                <ul>
                    <li>GPA: 3.18 </li>
                    <li>Languages: Python, Java, C, JavaScript, C#, PERL</li>
                    <li>Classes included both programming and theory based classes</li>
                </ul>
            </md-card-title-text>
            <md-card-title-media>
                <img class="cardImg" src='../assets/images/smallUND.png' alt="Missing Image"/>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-card md-theme="" md-theme-watch="">
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">High School Diploma | Morris Area High School</span>
                <span class="md-subhead">MAY 2015</span>
                    <ul>
                        <li>GPA: 3.49 </li>
                        <li>Three Sport Athlete</li>
                        <li>Loved video projects for class assignments</li>
                    </ul>
                </md-card-title-text>
                <md-card-title-media>
                    <img  class="cardImg" src='../assets/images/smallMORRIS.png' alt="Missing Image"/>
                </md-card-title-media>
            </md-card-title>
        </md-card>
