<h1 class="pageTitle">Work History</h1>


<md-card md-theme="" md-theme-watch="">
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline">Web Application Developer II | University of North Dakota</span>
            <span class="md-subhead">AUGUST 2018 – PRESENT</span>
                <ul>
                    <li>Assisted in updating and developing over forty web applications, all varying in structure and PHP/JavaScript frameworks.</li>
                    <li>Developed for both the front-ends and back-ends of applications.</li>
                    <li>Followed the object-orientated paradigm to access data and call methods within the applications.</li>
                    <li>Communicated with users, receiving feedback to properly modify and add features that have been requested.</li>
                </ul>
            </md-card-title-text>
            <md-card-title-media>
                <img  class="cardImg" src='/assets/images/smallUND.png' alt="Missing Image"/>
            </md-card-title-media>
        </md-card-title>
    </md-card>


    <md-card md-theme="" md-theme-watch="">
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">Web Application Developer I | University of North Dakota</span>
                <span class="md-subhead">AUGUST 2017 – AUGUST 2018</span>
                    <ul>
                        <li>Assisted in updating and developing over forty web applications, all varying in structure and PHP/JavaScript frameworks.</li>
                        <li>Developed for both the front-ends and back-ends of applications.</li>
                        <li>Followed the object-orientated paradigm to access data and call methods within the applications.</li>
                        <li>Communicated with users, receiving feedback to properly modify and add features that have been requested.</li>
                    </ul>
                </md-card-title-text>
                <md-card-title-media>
                    <img  class="cardImg" src='/assets/images/smallUND.png' alt="Missing Image"/>
                </md-card-title-media>
            </md-card-title>
        </md-card>

        <md-card md-theme="" md-theme-watch="">
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">Grocery Stocker/Carryout | Willie’s Supervalu</span>
                    <span class="md-subhead">OCTOBER 2012 – AUGUST 2016</span>
                    <ul>
                            <li>Stocked shelves along with assisting customers in the store and carrying their groceries out upon checking out.</li>
                            <li>---</li>
                            <li>---</li>
                            <li>---</li>
                        </ul>
                    </md-card-title-text>
                    <md-card-title-media>
                        <img  class="cardImg" src='/assets/images/temp150.png' alt="Missing Image"/>
                    </md-card-title-media>
                </md-card-title>
            </md-card>

            <md-card md-theme="" md-theme-watch="">
                    <md-card-title>
                        <md-card-title-text>
                        <span class="md-headline">Employee | Solvie Farms</span>
                        <span class="md-subhead">JUNE 2013 – AUGUST 2016</span>
                            <ul>
                                <li>Rock Picking</li>
                                <li>Hog barn maintenance</li>
                                <li>---</li>
                                <li>---</li>
                            </ul>
                        </md-card-title-text>
                        <md-card-title-media>
                            <img  class="cardImg" src='/assets/images/temp150.png' alt="Missing Image"/>
                        </md-card-title-media>
                    </md-card-title>
                </md-card>
