<h1>Work History</h1>
<h3>Web Application Developer II | University of North Dakota </h3>
<p>AUGUST 2018 – PRESENT</p>
<ul>
    <li>Assisted in updating and developing over forty web applications, all varying in structure and PHP/JavaScript frameworks.</li>
    <li>Developed for both the front-ends and back-ends of applications.</li>
    <li>Followed the object-orientated paradigm to access data and call methods within the applications.</li>
    <li>Communicated with users, receiving feedback to properly modify and add features that have been requested.</li>
</ul>
<h4>Web Application Developer I | University of North Dakota </h4>
<p>AUGUST 2017 – AUGUST 2018 </p>
<ul>
    <li>Assisted in updating and developing over forty web applications, all varying in structure and PHP/JavaScript frameworks.</li>
    <li>Developed for both the front-ends and back-ends of applications.</li>
    <li>Followed the object-orientated paradigm to access data and call methods within the applications.</li>
    <li>Communicated with users, receiving feedback to properly modify and add features that have been requested.</li>
</ul>
<h4>Grocery Stocker/Carryout | Willie’s Supervalu</h4>
<p>OCTOBER 2012 – AUGUST 2016</p>
<ul>
    <li>Stocked shelves along with assisting customers in the store and carrying their groceries out upon checking out.</li>
    <li>---</li>
    <li>---</li>
    <li>---</li>
</ul>
<h4>Employee | Solvie Farms </h4>
<p>JUNE 2013 – AUGUST 2016 </p>
<ul>
    <li>Rock Picking</li>
    <li>Hog barn maintenance</li>
    <li>---</li>
    <li>---</li>
</ul>